In [1]:
# importing required
import mysql.connector
from mysql.connector import Error
import pandas as pd

ModuleNotFoundError: No module named 'mysql'

In [2]:
pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.0.31-cp38-cp38-win_amd64.whl (7.9 MB)
Collecting protobuf<=3.20.1,>=3.11.0
  Downloading protobuf-3.20.1-cp38-cp38-win_amd64.whl (904 kB)
Installing collected packages: protobuf, mysql-connector-python
Successfully installed mysql-connector-python-8.0.31 protobuf-3.20.1
Note: you may need to restart the kernel to use updated packages.

In [3]:
# importing required
import mysql.connector
from mysql.connector import Error
import pandas as pd

In [4]:
def create_server_connection(host_name, user_name, user_password):
    connection = None
    try:
        connection = mysql.connector.connect(
            host=host_name, user=user_name, password=user_password
        )
        print("database connection has been done")
    except Error as er:
        print(f"Error : '{er}'")
    return connection
pw="Mysql@bnt12"
db="Group_activity01"
connection = create_server_connection("localhost","root",pw)

database connection has been done

In [5]:
#creating database

def create_database (connection,query):
    cursor=connection.cursor()
    try:
        cursor.execute(query)
        print("Database created")
    except Error as er:
        print(f"Error :'{er}'")
database_create_query="CREATE DATABASE Group_activity01"
create_database(connection,database_create_query)

Database created

In [6]:
#connect to database

def create_db_conncetion(host_name,user_name,user_password,db_name):
    connection=None
    try:
        connection=mysql.connector.connect(host=host_name,user=user_name, password=user_password,database=db_name)
        print("database connetion done")
    except Error as er:
        print(f"Error : '{er}'")
    return connection

In [7]:
#execute sql qurey

def excecute_query(connection,query):
    cursor=connection.cursor()
    try:
        cursor.execute(query)
        connection.commit()
        print("Query was succesful")
    except Error as er:
        print(f"Error :'{er}'")

In [8]:
create_table_query="""create table Student(
                    id int,
                    Name varchar(20),
                    Marks int,
                    Result varchar(20));"""
connection=create_db_conncetion("localhost","root",pw,db)
excecute_query(connection,create_table_query)

AttributeError: Unsupported argument 'databse'